<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Some title</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="styles/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="styles/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="styles/style.css" rel="stylesheet" type="text/css"/>
	<link href="styles/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="styles/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="styles/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<link href="styles/promo.css" rel="stylesheet" type="text/css"/>
	<link href="styles/animate.css" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
