layout: promo.twig
---
<script type="text/javascript">
 var PAYMILL_PUBLIC_KEY = '2962509133469dcc16e2cb2df8afd157';
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://bridge.paymill.com/"></script>
<script type="text/javascript">
$(document).ready(function () {

 function PaymillResponseHandler(error, result) {
   if (error) {
     // Displays the error above the form
     $(".payment-errors").text(error.apierror);
   } else {
     $(".payment-errors").text("");
     var form = $("#payment-form");
     // Token
     var token = result.token;
     // Insert token into form in order to submit to server
     form.append("<input type='hidden' name='paymillToken' value='" + token + "'/"+">");
     form.get(0).submit();
   }
   $(".submit-button").removeAttr("disabled");
 }

 $("#payment-form").submit(function (event) {
   // Deactivate submit button to avoid further clicks
   $('.submit-button').attr("disabled", "disabled");

   if (!paymill.validateCardNumber($('.card-number').val())) {
     $(".payment-errors").text("Invalid card number");
     $(".submit-button").removeAttr("disabled");
     return false;
   }

   if (!paymill.validateExpiry(
     $('.card-expiry-month').val(),
     $('.card-expiry-year').val())
   ) {
      $(".payment-errors").text("Invalid expiration date");
      $(".submit-button").removeAttr("disabled");
      return false;
     }

    paymill.createToken({
      number:         $('.card-number').val(),
      exp_month:      $('.card-expiry-month').val(),
      exp_year:       $('.card-expiry-year').val(),
      cvc:            $('.card-cvc').val(),
      cardholder:     $('.card-holdername').val(),
      amount_int:     $('.card-amount-int').val(),
      currency:       $('.card-currency').val()      // ISO 4217 z.B. "SEK"
    }, PaymillResponseHandler);

    return false;
 });
});
</script>
<div class="block-yellow">
<div class="payment-errors"></div>
<form id="payment-form" action="scripts/request.php" method="POST">
<input class="card-amount-int" type="hidden" value="4900" />
<input class="card-currency" type="hidden" value="SEK" />

<div class="form-row"><label>Card number</label>
<input class="card-number" type="text" value="4111111111111111" size="20" /></div>

<div class="form-row"><label>CVC</label>
<input class="card-cvc" type="text" value="111" size="4" /></div>

<div class="form-row"><label>Name</label>
<input class="card-holdername" type="text" value="Joe Doe" size="20" /></div>

<div class="form-row"><label>Expiry Date (MM/YYYY)</label>
<input class="card-expiry-month" type="text" value="02" size="2" />
<span> </span>
<input class="card-expiry-year" type="text" value="2015" size="4" /></div>

<button class="submit-button" type="submit">Submit</button>

</form>
</div>
</div>
